main {
  /* padding: 64px; */
}

.initials-wrapper {
  color: #c7004e;
  text-align: center;
  font-size: 20px;
  font-weight: 700;
  line-height: normal;
  border-radius: 50%;
  height: 48px;
  width: 48px;
  display: flex;
  justify-content: center;
  align-items: center;
  background: #fff;
  box-shadow: 0px 0px 16px 0px rgba(0, 0, 0, 0.16);
}

.dashboard-header-inner {
  display: flex;
  align-items: center;
  justify-content: space-between;
  min-height: 39px;
  padding-bottom: 16px;
  position: relative;
}

.dashboard-header-inner h3 {
  color: #000;
  font-size: 32px;
  font-weight: 700;
  line-height: normal;
  position: relative;
}

.dashboard-header-inner::after {
  content: "";
  display: block;
  position: absolute;
  height: 8px;
  width: 48px;
  left: 0%;
  top: 100%;
  background: #c7004e;
  border-radius: 100px;
}

.overview-card-list,
.request-card-list {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  gap: 32px;
  padding: 0px 32px 32px 32px;
}

.dashboard-header {
  padding: 32px;
}

.overview-card-list-item,
.request-card-list-card-item {
  padding: 24px 16px;
  border-radius: 12px;
  border: 1px solid #e6e6e6;
  background: #fff;
}

.overview-card-list-item h4,
.request-card-list-card-item h5 {
  color: var(--Black, #333);
  font-family: Inter;
  font-size: 40px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  margin-bottom: 10px;
}

.overview-card-list-item p,
.request-card-list-card-item p {
  color: #333;
  text-overflow: ellipsis;
  font-size: 24px;
  font-weight: 400;
  line-height: normal;
}

.overview-section,
.request-section {
  margin: 0 64px 32px;
}

.overview-section {
  margin-top: 64px;
}

.manage-admin-section {
  padding: 64px;
  min-height: 100vh;
}

.section-wrapper {
  background: rgba(0, 0, 0, 0.02);
}

.overview-section .container,
.request-section .container,
.manage-admin-section .container {
  border-radius: 12px;
  background: rgba(255, 255, 255, 0.24);
  box-shadow: 0px 0px 16px 0px rgba(0, 0, 0, 0.16);
  backdrop-filter: blur(4px);
}

.overview-card-list-item.is-success {
  border-color: #e6e6e6;
  background: #ddf3e9;
}

.overview-card-list-item.is-success h4,
.overview-card-list-item.is-success p {
  color: #247200;
}

.overview-card-list-item.is-success p,
.overview-card-list-item.is-danger p {
  font-weight: 700;
}

.overview-card-list-item.is-danger {
  border-color: #e6e6e6;
  background: rgba(199, 0, 78, 0.12);
}

.overview-card-list-item.is-danger h4,
.overview-card-list-item.is-danger p {
  color: #7a113d;
}

.dashboard-header-inner .button {
  border-radius: 8px;
  outline: unset;
  background: #fff;
  color: #c7004e;
  text-align: center;
  font-size: 20px;
  border-color: #fff;
  padding: 16px 24px;
  font-weight: 700;
  line-height: normal;
  box-shadow: 0px 0px 16px 0px rgba(0, 0, 0, 0.12);
}

.dashboard-header-inner .button:focus,
.dashboard-header-inner .button.is-hovered,
.dashboard-header-inner .button:hover {
  border-color: #fff;
}

.request-card-list {
  grid-template-columns: 1fr 1fr 1fr;
}

.request-card-list-card-item h5 {
  font-size: 24px;
}

.request-card-list-card-item p {
  font-size: 16px;
}

.request-card-list-card-header {
  display: flex;
  align-items: center;
  gap: 4px;
  margin-bottom: 10px;
}

.interpunct {
  width: 8px;
  height: 8px;
  background-color: #d9d9d9;
  border-radius: 50%;
}

.custom-tag {
  padding: 8px;
  border-radius: 4px;
  background: #f7ebe1;
  color: #bc5b02;
  text-align: center;
  font-weight: 700;
}

.request-card-list-card-header span.text {
  color: #333;
  font-size: 14px;
  font-weight: 400;
  line-height: normal;
}

.request-card-list-card-item,
.list-section-list-card-item {
  display: flex;
  align-items: center;
  cursor: pointer;
  justify-content: space-between;
  padding: 16px;
}

.list-section-list-card-item {
  padding: 24px;
  border-radius: 12px;
  background: rgba(255, 255, 255, 0.4);
  box-shadow: 0px 0px 16px 0px rgba(0, 0, 0, 0.12);
}

.list-section-list-card-item-inner {
  display: flex;
  align-items: center;
  gap: 16px;
}

.list-section-list-card-initials-wrapper {
  display: flex;
  width: 48px;
  height: 48px;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  background: rgba(199, 0, 78, 0.12);
  color: #c7004e;
  text-align: center;
  font-size: 20px;
  font-weight: 700;
  line-height: normal;
}

.list-section-list-card-item-inner h6 {
  color: #333;
  font-size: 20px;
  font-weight: 700;
  line-height: normal;
  margin-bottom: 4px;
}

.list-section-list-card-item-inner p {
  color: #333;
  font-size: 16px;
  font-weight: 400;
  line-height: normal;
}

.list-section-list {
  display: grid;
  grid-template-columns: 1fr;
  gap: 32px 0;
  padding: 0px 32px 32px 32px;
}

.list-section-left,
.list-section-right {
  border-radius: 12px;
  border: 1px solid rgba(255, 255, 255, 0.8);
  background: rgba(255, 255, 255, 0.24);
  box-shadow: 0px 0px 16px 0px rgba(0, 0, 0, 0.16);
  backdrop-filter: blur(12px);
}

.list-section button.button {
  font-size: 16px;
}

.list-section .container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 32px;
}

.list-section-right .list-section-list-card-initials-wrapper {
  color: #396c92;
  background: rgba(101, 172, 224, 0.12);
}

section.list-section {
  padding: 0 64px 64px;
}

.button.is-primary,
.button.is-primary:hover {
  background: #c7004e;
  border-color: #c7004e;
  box-shadow: 0px 4px 10px 0px rgba(0, 0, 0, 0.25);
  color: #fff;
  outline: #c7004e;
}

.field .control.no-label .input {
  transform: translateY(0px);
  padding-left: 32px;
}

.field .control.no-label.no-bts {
  margin-bottom: 0;
}

.field .control.no-label .input::placeholder {
  color: #333;
  font-size: 16px;
}

.search-block.is-flex .field {
  min-width: 400px;
}

.searxh-icon-img {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
}

.search-block-results {
  color: #000;
  font-size: 20px;
  font-weight: 700;
  line-height: normal;
}

.search-block {
  padding: 0 32px 0;
}

.custom-table-cell {
  padding: 16px;
  min-height: 80px;
  display: inline-flex;
  align-items: center;
  gap: 0 8px;
}

.custom-table-cell span {
  color: #333;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  padding: 4px 0;
}

.custom-table-cell span a {
  color: #396C92;
  font-weight: 700;
  font-size: 14px;
  padding-top: 8px;
  display: block;
}

.custom-table-row.header .custom-table-cell span {
  color: #fff;
  font-size: 20px;
  font-weight: 700;
}

.custom-table-row {
  display: grid;
  grid-template-columns: 17.83% 28.68% 17.83% 17.83% 17.83%;
}

.custom-table.acayr .custom-table-row {
  grid-template-columns: 28.68% 28.68% 21.32% 21.32%;
}

.custom-table-row.header {
  border-radius: 12px;
  background: rgba(0, 0, 0, 0.72);
  box-shadow: 0px 0px 16px 0px rgba(0, 0, 0, 0.16);
}

.custom-table-wrapper {
  padding: 32px;
}

.custom-table-cell button {
  padding: 8px;
  color: #396c92;
  text-align: center;
  font-size: 16px;
  font-weight: 700;
  line-height: normal;
  border-radius: 8px;
  background: #fff;
  box-shadow: 0px 0px 16px 0px rgba(0, 0, 0, 0.12);
}

.custom-table-cell button.has-text-red {
  color: #c7004e;
}

.custom-table-cell button.has-text-green {
  color: #247200;
}

.custom-table-row:nth-child(2n + 3) {
  border-radius: 12px;
  background: rgba(0, 0, 0, 0.08);
}

.custom-table-row:not(.header) .custom-table-cell {
  background: rgba(255, 255, 255, 0.2);
}

.table-pagination {
  padding-top: 32px;
}

.pagination-btn-wrapper button.button {
  border-radius: 8px;
  border-color: #fff;
  background: #fff;
  box-shadow: 0px 2px 8px 0px rgba(0, 0, 0, 0.16);
  display: flex;
  width: 56px;
  height: 56px;
  justify-content: center;
  align-items: center;
  color: #c7004e;
  font-weight: 700;
  font-size: 16px;
}

.pagination-btn-wrapper {
  gap: 8px;
}

.pagination-btn-wrapper button.button img {
  max-width: 16px;
}

.pagination-btn-wrapper button.button.is-active {
  border-radius: 8px;
  background: #efcfdc;
  border-color: #efcfdc;
  box-shadow: none;
}

.table-pagination p {
  color: #000;
  font-size: 16px;
  font-weight: 400;
  line-height: normal;
}

.close-btn {
  border: 0;
  outline: 0;
  background: transparent;
  cursor: pointer;
  margin-top: 6px;
}

.modal-card-title {
  color: #000;
  font-size: 32px;
  font-weight: 700;
  line-height: normal;
  position: relative;
  min-height: 32px;
}

.modal-card-title::after{
    content: "";
    display: block;
    position: relative;
    height: 8px;
    width: 48px;
    margin-top: 16px;
    background: #c7004e;
    border-radius: 100px;
}


.modal-card-head {
  padding: 40px 20px 8;
  background-color: #fff;
  border-bottom: 0px;
}

.modal-card-body {
  padding: 20px;
}

.modal-card-head {
  border-top-left-radius: 12px;
  border-top-right-radius: 12px;
  align-items: flex-start;
}

.modal-card {
  background-color: white;
  border-radius: 12px;
}

.modal-card, .modal-content {
  margin: 0 auto;
  
  width: 550px;
}

.field-group{
  display: grid;
  grid-template-columns: auto auto;
  gap: 24px;
}

.modal-card-body{
  padding: 24px 24px 0 24px;
}

.field-group .field{
  margin-bottom: 0;
}

.modal-card-foot {
  background-color: #fff;
  justify-content: flex-end;
  padding: 0 24px 32px;
  gap: 16px;
  border-top: 0;
}

.modal-card-foot.left {
  justify-content: flex-start;
}


.modal-card-foot .button,
  .modal-card-foot .button:hover{
    border-radius: 8px;
    outline: unset;
    text-align: center;
    font-size: 20px;
    border-color: #fff;
    padding: 16px 24px;
    font-weight: 700;
    line-height: normal;
    box-shadow: none;
    outline: none;
}

.modal-card-foot .button.button.is-primary{
  border-color: #c7004e;
  box-shadow: 0px 0px 16px 0px rgba(0, 0, 0, 0.12);
}

.form-card-header.no-bt {
  padding-bottom: 8px;
}

.form-card-footer{
  gap: 16px;
}

.form-card-footer .button.no-bg{
  background-color: transparent;
  border: none;
  color: #c7004e;
  box-shadow: none;

}

.span-label{
  color:  #333;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px;
  display: block;
  margin-bottom: 16px;
}

.radio-label{
  display: inline-flex;
  justify-content: center;
  align-items: center;
  position:relative;
  padding: 16px 24px;
  overflow: hidden;
  border-radius: 4323px;
  cursor: pointer;
}

.radio-label [type="radio"]:not(:checked) + .inner-span-label{
  font-size: 16px;
  font-weight: 700;
  color: #396C92;
}

.radio-label [type="radio"]:checked + .inner-span-label{
  font-size: 16px;
  font-weight: 700;
  color: #fff;
}

.radio-label [type="radio"]:not(:checked) + .inner-span-label + .radio-background,
  .radio-label [type="radio"]:checked + .inner-span-label + .radio-background{
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background: #E8EFF6;
  z-index: -1;
}

.radio-label [type="radio"]:checked + .inner-span-label + .radio-background{
  background: #396C92;
}

[type="radio"]:checked,
[type="radio"]:not(:checked) {
    position: absolute;
    left: -9999px;
}

[type="radio"]:checked + .inner-span-label,
[type="radio"]:not(:checked) + .inner-span-label
{
    position: relative;
    padding-left: 28px;
    cursor: pointer;
    line-height: 20px;
    display: inline-block;
    color: #666;
}

[type="radio"]:checked + .inner-span-label:before,
[type="radio"]:not(:checked) + .inner-span-label:before {
    content: '';
    position: absolute;
    left: 0;
    top: 0;
    width: 18px;
    height: 18px;
    border: 1px solid #396C92;
    border-radius: 100%;
    background: transparent;
}

[type="radio"]:checked + .inner-span-label:before {
  border: 1px solid #fff;
}

[type="radio"]:checked + .inner-span-label:after, [type="radio"]:not(:checked) + .inner-span-label:after {
  content: '';
  width: 12px;
  height: 12px;
  background: #fff;
  position: absolute;
  top: 3px;
  left: 3px;
  border-radius: 100%;
  -webkit-transition: all 0.2s ease;
  transition: all 0.2s ease;
}

[type="radio"]:not(:checked) + .inner-span-label:after {
    opacity: 0;
    -webkit-transform: scale(0);
    transform: scale(0);
}

[type="radio"]:checked + .inner-span-label:after {
    opacity: 1;
    -webkit-transform: scale(1);
    transform: scale(1);
}

.radio-control{
  margin-bottom: 24px;
}

.radio-group{
  display: flex;
  align-items: center;
  gap: 16px;
}

.is-flex .text-key{
  font-weight: 700;
  font-size: 16px;
  min-width: 144px;
  color:  #3D3D3D;

}

.is-flex .text-key{
  font-size: 16px;
  color: #333;
}

.is-flex.text-declartn{
  height: 44px;
  margin-bottom: 8px;
}

.modal-form-content{
  margin-bottom: 24px;
}

.button.is-white{
  border-radius: 8px;
background: #FFF;
box-shadow: 0px 4px 10px 0px rgba(0, 0, 0, 0.25);
}

.button.text-blue{
  color: #396C92;
}

.button.text-red{
  color: #C7004E;
}

.btn-group {
  display: flex;
  gap: 10px;
}